@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: Inter;

    --color-primary: #5B3751;
    --color-secondary: #CEABB0;
    --color-accent: #E0E2DD;
}
body {
    font-family: var(--font-sans);
}
.nav-links{
    @apply block text-white my-2 mx-2 py-2 px-4 rounded ;
}
